{% extends "base.html" %}
{% block title %}Quotes for {{ chan_name }} {% endblock %}
{% block head %}
<script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css">

<script type="text/javascript">
    $(document).ready(function() {
        $("#quoteLog").dataTable({
            "order": [[0, 'desc'], [1, 'asc']],
            "columnDefs": [
                { "width": "70%", "targets": 2 },
            ],
            "pageLength": 25,
        });
    })
</script>
{% endblock %}
{% block content %}
<div class="row">
    <p><h1><a href="{{ url_for('list_channels') }}">Quotes</a> for {{ chan_name }}</h1></p>
</div>
<div class="row">
<table id="quoteLog" class="table table-striped">
    <thead>
        <tr>
            <th>Time</th>
            <th>Nick</th>
            <th style="width: 80%">Message</th>
        </tr>
    </thead>
    <tbody>
        {% for quote in quotes %}
        <tr>
            <td>{{ quote.time | ptime }}</td>
            <td>{{ quote.nick }}</td>
            <td><p>{{ quote.msg }}</p></td>
        </tr>
        {%- endfor %}
    </tbody>
</table>
</div>
{% endblock %}
